<a href="https://colab.research.google.com/github/JuliusCaesar1/notes_public/blob/main/Notes_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 39
print ('I am ', age,'years old.')

I am  39 years old.

In [ ]:
def is_positive(number):
  if number > 0:
    return True
  else:
    return False

In [ ]:
def greeting(name, department):
    print("Welcome, " + name)
    print("You are part of " + department)

greeting("Blake", "Software engineering")
greeting("Ellis", "Software engineering")

Welcome, Blake
You are part of Software engineering
Welcome, Ellis
You are part of Software engineering

In [ ]:
def greeting(name):
    print("Welcome, " + name)

greeting("Kay")
greeting("Cameron")
#to def is to say this function which follows is named "greeting" within this
#context, it is basically greeting(name), as in the name is what the function
#requires to plug into its following body. The greeting function, with a given
#name can then be recalled as many times as needed.

Welcome, Kay
Welcome, Cameron

In [ ]:
month = "September"
failed_attempts = 100
print("Investigate failed login attempts during", month, "if more than", failed_attempts)
#here we are saying month is the string september, and then telling the code
#to plug it into the print statement. This allows us to change the month and
#the number of failed attempts accordingly from a function if needed and
#created.

Investigate failed login attempts during September if more than 100

In [ ]:
print(type("This is a string"))
#tells us what type of argument

<class 'str'>

In [ ]:
number = 12
string_representation = str(number)
print(string_representation)
#turning an int into str

12

In [ ]:
time_list = [12, 2, 32, 19, 57, 22, 14]
print(sorted(time_list))
print(time_list)
#sorts the list leas to greatest, but doesn't change inherent order

In [ ]:
time_list = [12, 2, 32, 19, 57, 22, 14]
print(min(time_list))
print(max(time_list))
#self explanatory

In [ ]:
def greeting(name):
    print("Welcome, " + name)
result = greeting("Christine")
print(result)
#simple greeting

In [ ]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(15000)
print(hours, minutes, seconds)

4 10 0

In [ ]:
def area_triangle(base, height):
    return base*height/2
area_a = area_triangle(5,4)
area_b = area_triangle(7,3)
sum = area_a + area_b
print("The sum of both areas is: " + str(sum))
#area of a triangle

In [ ]:
name = "Kay"
number = len(name) * 9

print("Hello " + name + ". Your lucky number is " + str(number))

name = "Cameron"
number = len(name) * 9

print("Hello " + name + ". Your lucky number is " + str(number))
#this is long and repetitive

In [ ]:
def lucky_number(name):
    number = len(name) * 9
    print("Hello " + name + ". Your lucky number is " + str(number))

lucky_number("Kay")
lucky_number("Cameron")
#this is more compact, by creating a function the computer plugs the input in
#and the function can be recalled with its defined name lucky_number

In [ ]:
def circle_area(radius):
    pi = 3.14
    area = pi * (radius ** 2)
    print(area)

circle_area(5)
#Output is 78.5
#clean code

In [ ]:
# This function calculates the number of days in a variable number of
# years, months, and days. These variables are provided by the user and
# are passed to the function through the functionâ€™s parameters.
def find_total_days(years, months, days):
# Assign a variable to hold the calculations for the number of days in
# a year (years*365) plus the number of days in a month (months*30) plus
# the number of days provided through the "days" parameter variable.
    my_days = (years*365) + (months*30) + days
# Use the "return" keyword to send the result of the "my_days"
# calculation to the function call.
    return my_days

# Function call with user provided parameter values.
print(find_total_days(2,5,23))

In [ ]:
# This function converts fluid ounces to milliliters and returns the
# result of the conversion.
def convert_volume(fluid_ounce):
# Calculate value of the "ml" variable using the parameter variable
# "fluid_ounce". There are approximately 29.5 milliliters in 1 fluid
# ounce.
    ml = fluid_ounce * 29.5
# Return the result of the calculation.
    return ml

# Call the conversion from within the print() function using 2 fluid
# ounces. Convert the return value from a float to a string.
print("The volume in milliliters is " + str(convert_volume(2)))

# Call the function again and double the 2 fluid ounces from within
# the print function.
print("The volume in milliliters is " + str(convert_volume(2)*2))
# Alternative calculation:
# print("The volume in milliliters is " + str(convert_volume(4))

In [ ]:
print ('c' > 'b' and 'n' < 'o')
#it is sorting alphabetically in ascending numbers a being low and
#with z being the greatest.

True

Comparison Operators with Equations
The following examples demonstrate how to use comparison operators with the data types int (integers, whole numbers) and float (number with a decimal point or fractional value). Comparison operators return Boolean results. As you learned previously, Boolean is a data type that can hold only one of two values: True or False.  

The comparison operators include:

==    (equality)

!=     (not equal to)

>       (greater than)

<      (less than)

>=    (greater than or equal to)

<=    (less than or equal to)


PART 1: Equality == and Not Equal To != Operators
In Python, you can use comparison operators to compare values. When a comparison is made, Python returns a Boolean result: True or False. Note that Boolean data types are not string data types (Boolean True is not equal to the string "True").  

To check if two values are the same, use the equality operator: ==

To check if two values are not the same, use the not equal to operator: !=

The print() function can be used to display the results of the comparisons.

In [ ]:

print(32 == 30+2)   # The == operator checks if the 2 values are
True                # equal to each other. If they are equal,
                    # Python returns a True result.


print(5+10 == 6+7)  # If the two values are not equal, as in the
False               # expression 5+10 == 6+7 (or 15 == 13), Python
                    # returns a False result.


print(10-4 != 10+4) # The != operator checks if the 2 values are
True                # NOT equal to each other. If true, Python
                    # returns a True result.


print(9/3 != 3*1)   # In this last example, 9/3 != 3*1 (or 3 != 3)
False               # is false. So, Python returns a False value.

In [ ]:

# The = equals assignment operator is used to assign a value to a
# variable.

my_variable = 3*5           # Assigns a value to my_variable
print(my_variable)          # Printing the variable returns the
15                          # value assigned to the variable.



# The == equality comparison operator checks if the values of the two
# expressions on either side of the == operator are equivalent to one
# another.

print(my_variable == 3*5)   # Printing the variable returns a Boolean
True                        # True or False result.

15
True

True

In [ ]:

print(11 > 3*3)         # The > operator checks if the left value is
True                    # greater than the right value. If true, it
                        # returns a True result.


print(4/2 > 8-4)        # If the > operator finds that the left value
False                   # is NOT greater than the right value, the
                        # comparison will return a False result.


print(4/2 < 8-4)        # The < operator checks  if the left value is
True                    # less than the right side. If true, the
                        # comparison returns a True result.


print(11 < 3*3)         # If the < operator finds that the left side is False
                        # NOT less than the right value, Python returns
False                   # a False result.

In [ ]:

print(12*2 >= 24)   # The >= operator checks if the left value is
True                # greater than or equal to the right value.
                    # If one of these conditions is true,
                    # Python returns a True result. In this case
                    # the two values are equal. So, the comparison
                    # returns a True result.


print(18/2 >= 15)   # If the >= comparison determines that the left
False               # value is NOT greater than or equal to the
                    # right, it returns a False result.

print(12*2 <= 30)   # The <= operator checks if the left value is
True                # less than or equal to the right value. In
                    # this case, the left value is less than the
                    # right value. Again, if one of the two
                    # conditions is true, Python returns a True
                    # result.


print(15 <= 18/2)   # If the <= comparison determines that the left
False               # value is NOT less than or equal to the right
                    # value, the comparison returns a False result.

In [ ]:
# Some random values
valueA = 3
valueB = 144
valueC = -987
valueD = 25
valueE = -0.25

# Calculate the exponent for the variables
aExp = valueA ** 2
bExp = valueB ** 3
cExp = valueC ** 4
dExp = valueD ** -5
eExp = valueE ** 0.125

# Output the results
print(valueA, "^2 = ", aExp, sep="")
print(valueB, "^3 = ", bExp, sep="")
print(valueC, "^4 = ", cExp, sep="")
print(valueD, "^-5 = ", dExp, sep="")
print(valueE, "^0.125 = ", eExp, sep="")

3^2 = 9
144^3 = 2985984
-987^4 = 949005240561
25^-5 = 1.024e-07
-0.25^0.125 = (0.7768869870150186+0.3217971264527913j)

In [ ]:
# Some random values
valueA = 3
valueB = 144
valueC = -987
valueD = 25
valueE = -0.25

# Raise the variables to different powers
aExp = pow(valueA, 2)
bExp = pow(valueB, 3)
cExp = pow(valueC, 4)
dExp = pow(valueD, -5)
eExp = pow(valueE, 0.125)

# Output results
print(valueA, "^2 = ", aExp, sep="")
print(valueB, "^3 = ", bExp, sep="")
print(valueC, "^4 = ", cExp, sep="")
print(valueD, "^-5 = ", dExp, sep="")
print(valueE, "^0.125 = ", eExp, sep="")

3^2 = 9
144^3 = 2985984
-987^4 = 949005240561
25^-5 = 1.024e-07
-0.25^0.125 = (0.7768869870150186+0.3217971264527913j)

In [ ]:
import math

# Some numerical values
valueA = 3
valueB = 144
valueC = -987
valueD = 25
valueE = -0.25

# Raise each variable to a certain power
aExp = math.pow(valueA, 2)
bExp = math.pow(valueB, 3)
cExp = math.pow(valueC, 4)
dExp = math.pow(valueD, -5)
eExp = math.pow(valueE, -45)

# Output the results
print(valueA, "^2 = ", aExp, sep="")
print(valueB, "^3 = ", bExp, sep="")
print(valueC, "^4 = ", cExp, sep="")
print(valueD, "^-5 = ", dExp, sep="")
print(valueE, "^-45 = ", eExp, sep="")

3^2 = 9.0
144^3 = 2985984.0
-987^4 = 949005240561.0
25^-5 = 1.024e-07
-0.25^-45 = -1.2379400392853803e+27

In [ ]:
# Define country and city variables
country = "United States"
city = "New York City"

# True or True returns True
print((15/3 < 2+4) or (0 >= 6-7))  # True or True = True

# False or True returns True
print(country == "New York City" or city == "New York City")  # False or True = True

# True or False returns True
print(16 <= 4**2 or 9**(0.5) != 3)  # True or False = True

# False or False returns False
print("B_name" > "C_name" or "B_name" < "A_name") # False or False = False

True
True
True
False

In [ ]:
# Test Example 1:

x = 2*3 > 6
print("The value of x is:")
print(x)

print("")  # Prints a blank line

print("The inverse value of x is:")
print(not x)

The value of x is:
False

The inverse value of x is:
True

In [ ]:
# What happens when you negate a False statement?
# Click Run when you are ready to check your answer.


today = "Monday"
print(not today == "Tuesday")


# The "today" variable states today is Monday. This makes the comparison
# "today == Tuesday" False. The logical operator "not" inverts the False
# result to become True. In other words, this expression asks if it is
# false that today is not Tuesday. More succinctly, "not False" means
# True."

True

In [ ]:
def hint_username(username):
    if len(username) < 3:
        print("Invalid username. Must be at least 3 characters long")
    else:
        print("Valid username")
#This code will not have an output.

This snippet of code defines a function called hint_username. The if len(username) < 3: statement checks the length of the string username. If the length of the string is less than 3 characters, the code inside the if statement is executed. The print("Invalid username. Must be at least 3 characters long") statement prints the message "Invalid username. Must be at least 3 characters long". The else: statement is executed if the length of the string username is not less than 3 characters. In this case, the code inside the else statement is executed, which is the print("Valid username") statement

In [ ]:
def is_even(number):
    if number % 2 == 0:
        return True
    return False
#This code has no ouput

This code snippet defines a function called is_even. It checks whether a number is even. if number % 2 == 0: is the part of the code that checks if the number is even. If the number is odd, it will return false. The code does not have any output currently because it has not been provided with a number to check.

else Statements and the Modulo Operator

We just covered the if statement, which executes code if an evaluation is true and skips the code if itâ€™s false. But what if we wanted the code to do something different if the evaluation is false? We can do this using the else statement. The else statement follows an if block, and is composed of the keyword else followed by a colon. The body of the else statement is indented to the right, and will be executed if the above if statement doesnâ€™t execute.

We also touched on the modulo operator, which is represented by the percent sign: %. This operator performs integer division, but only returns the remainder of this division operation. If weâ€™re dividing 5 by 2, the quotient is 2, and the remainder is 1. Two 2s can go into 5, leaving 1 left over. So 5%2 would return 1. Dividing 10 by 5 would give us a quotient of 2 with no remainder, since 5 can go into 10 twice with nothing left over. In this case, 10%5 would return 0, as there is no remainder.

In [2]:
def hint_username(username):
    if len(username) < 3:
        print("Invalid username. Must be at least 3 characters long")
    else:
        if len(username) > 15:
            print("Invalid username. Must be at most 15 characters long")
        else:
            print("Valid username")

This snippet of code defines a function called hint_username. The if len(username) < 3: statement checks the length of the string username. If the length of the string is less than 3 characters, the code inside the if statement is executed. The print("Invalid username. Must be at least 3 characters long") statement prints the message "Invalid username. Must be at least 3 characters long". The else: statement is executed if the length of the string username is greater than 15 characters. In this case, the code inside the else statement is executed, which is the print("Invalid username. Must be at most 15 characters long") statement. If the username is the correct length, between 3 and 15 characters long,  print("Valid username") is executed.

In [3]:
def hint_username(username):
    if len(username) < 3:
        print("Invalid username. Must be at least 3 characters long")
    elif len(username) > 15:
        print("Invalid username. Must be at most 15 characters long")
    else:
        print("Valid username")

This snippet of code works the same way as the code block we just looked at. The difference is that this code uses the  elif statement.  elif statements must be used along with an if statement. The elif statement will only be checked if the condition of the if statement was not true.